### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [164]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [165]:
uniquePlayerCount=len(purchase_data['SN'].unique())
#UP_df = pd.DataFrame[uniquePlayers]
#print ("There are", uniquePlayers1, "unique players that have purchased items")
Unique_players_df = pd.DataFrame({"Unique Players" : [uniquePlayerCount]})

Unique_players_df

   Unique Players
0             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [230]:
# Find Count of unique items
uniqueitems= len(purchase_data['Item Name'].unique())
# find Average Price
averagePrice = purchase_data['Price'].mean()
# find Count of all purchases
countPurchases = purchase_data['Purchase ID'].count()
# find Sum of all purchases 
totalRevenue = purchase_data['Price'].sum()
# Create Data frame with above data
summary_df = pd.DataFrame({"Total Unique Items": [uniqueitems],
                              "Average_Price": averagePrice,
                              "Total_Purchases": countPurchases,
                              "Total_Revenue": totalRevenue})
#Foramt series as currency 
summary_df['Average_Price'] = summary_df['Average_Price'].map("${:,.2f}".format)
summary_df["Total_Revenue"] = summary_df["Total_Revenue"].map("${:,.2f}".format)
summary_df

   Total Unique Items Average_Price  Total_Purchases Total_Revenue
0                 179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [233]:
#Create groupby on gender
GenderDemo = purchase_data.groupby('Gender')

#Find gender total 
total_per_gender = GenderDemo.nunique()["SN"]

#Find Percentage of gender of total population
pct_Gender = (total_per_gender/uniquePlayerCount) *100

#create new DataFrame with Sn and Gender
GenderDemo_df = pd.DataFrame({"TotalCount" : total_per_gender, "Gender percent" : pct_Gender})

#Sort and format dataframe
GenderDemo_df.sort_values(["TotalCount"], ascending=False).style.format({"Gender percent":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [238]:

#Create groupby object 
GenPurch = purchase_data.groupby('Gender')
#Find gender total 
totalPurchases = GenPurch["SN"].count()

#total sumof Price Column
totalPurchVal = GenPurch["Price"].sum()
#Find average purchase price 
avgPurchPrice = totalPurchVal/totalPurchases
#Find Average Total Purchase Price per Person 
avgTotPurchPerPerson= totalPurchVal/total_per_gender

#create new DataFrame with Sn and Gender
GenderPurch_df = pd.DataFrame({
                "Purchase Count" : totalPurchases, "Average Purchase Price" : avgPurchPrice, "Total Purchase Value" : totalPurchVal, "Avg Total Purchase per Person" : avgTotPurchPerPerson
})
GenderPurch_df
#Sort and format dataframe
#Foramt series as currency 
GenderPurch_df['Total Purchase Value'] = GenderPurch_df['Total Purchase Value'].map("${:,.2f}".format)
GenderPurch_df["Average Purchase Price"] = GenderPurch_df["Average Purchase Price"].map("${:,.2f}".format)
GenderPurch_df["Avg Total Purchase per Person"] = GenderPurch_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
GenderPurch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [245]:
#Create groupby on gender
GenderDemo = purchase_data.groupby('Gender')
#Create Age bins and labels 
bins = [0, 10, 14, 19, 24, 29, 34, 39, 99]

bin_labels = ["<10" ,"10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

AgeDemo_df["View Group"]= pd.cut(GenderDemo_df["Views"], bins, labels=bin_labels)
ageDemo_df
pd.cut(GenderDemo_df["Views"], bins, labels=bin_labels)
GenderDemo_df["View Group"]= pd.cut(GenderDemo_df["Views"], bins, labels=bin_labels)
ageDemo_df

KeyError: 'Views'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80