### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:
uniquePlayerCount=len(purchase_data['SN'].unique())
#UP_df = pd.DataFrame[uniquePlayers]
#print ("There are", uniquePlayers1, "unique players that have purchased items")
Unique_players_df = pd.DataFrame({"Unique Players" : [uniquePlayerCount]})

Unique_players_df

   Unique Players
0             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Find Count of unique items
uniqueitems= len(purchase_data['Item Name'].unique())
# find Average Price
averagePrice = purchase_data['Price'].mean()
# find Count of all purchases
countPurchases = purchase_data['Purchase ID'].count()
# find Sum of all purchases 
totalRevenue = purchase_data['Price'].sum()
# Create Data frame with above data
summary_df = pd.DataFrame({"Total Unique Items": [uniqueitems],
                              "Average_Price": averagePrice,
                              "Total_Purchases": countPurchases,
                              "Total_Revenue": totalRevenue})
#Foramt series as currency 
summary_df['Average_Price'] = summary_df['Average_Price'].map("${:,.2f}".format)
summary_df["Total_Revenue"] = summary_df["Total_Revenue"].map("${:,.2f}".format)
summary_df

   Total Unique Items Average_Price  Total_Purchases Total_Revenue
0                 179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
#Create groupby on gender
GenderDemo = purchase_data.groupby('Gender')

#Find gender total 
total_per_gender = GenderDemo.nunique()["SN"]

#Find Percentage of gender of total population
pct_Gender = (total_per_gender/uniquePlayerCount) *100

#create new DataFrame with Sn and Gender
GenderDemo_df = pd.DataFrame({"TotalCount" : total_per_gender, "Gender percent" : pct_Gender})

#Sort and format dataframe
GenderDemo_df.sort_values(["TotalCount"], ascending=False).style.format({"Gender percent":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:

#Create groupby object 
GenPurch = purchase_data.groupby('Gender')

#Find gender total 
totalPurchases = GenPurch["SN"].count()
#total sumof Price Column
totalPurchVal = GenPurch["Price"].sum()
#Find average purchase price 
avgPurchPrice = totalPurchVal/totalPurchases
#Find Average Total Purchase Price per Person 
avgTotPurchPerPerson= totalPurchVal/total_per_gender

#create new DataFrame with Sn and Gender
GenderPurch_df = pd.DataFrame({
                "Purchase Count" : totalPurchases, "Average Purchase Price" : avgPurchPrice, "Total Purchase Value" : totalPurchVal, "Avg Total Purchase per Person" : avgTotPurchPerPerson
})

#Sort and format dataframe
GenderPurch_df['Total Purchase Value'] = GenderPurch_df['Total Purchase Value'].map("${:,.2f}".format)
GenderPurch_df["Average Purchase Price"] = GenderPurch_df["Average Purchase Price"].map("${:,.2f}".format)
GenderPurch_df["Avg Total Purchase per Person"] = GenderPurch_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
GenderPurch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
#Create Age bins and labels 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99]
bin_labels = ["<10" ,"10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_df = pd.DataFrame(purchase_data)

#create range categories for bins above 
purchase_df["Age Group"] = pd.cut(purchase_df["Age"],bins, labels=bin_labels)

In [18]:
#Create new groupby object 
ageDemo = purchase_df.groupby('Age Group')

#Create Variable for ageGroup Counts 
ageCount= ageDemo["SN"].nunique()

#calc pct players in each age bracket 
pctofPlayers = (ageCount/uniquePlayerCount)

#update DataFrame with calculated series
ageDemoSummaryCount = pd.DataFrame({"Total Count": ageCount, "pct of Players" : pctofPlayers})

#Format pct of players to xx.xx%
ageDemoSummaryCount["pct of Players"] = ageDemoSummaryCount["pct of Players"].map("{:,.2%}".format)
#Sort DataFrame
ageDemoSummaryCount.sort_index()

           Total Count pct of Players
Age Group
<10                 17          2.95%
10-14               22          3.82%
15-19              107         18.58%
20-24              258         44.79%
25-29               77         13.37%
30-34               52          9.03%
35-39               31          5.38%
40+                 12          2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#calc Average Purchase Price 
ageAvgPurchPrice = ageDemo["Price"].mean()
#Calc total Puchase Value
ageTotalPurchPrice= ageDemo["Price"].sum()
#Find Average Total Purchase Price per Person 
ageAvgTotPurchPerPerson= ageTotalPurchPrice/ageCount

#Create DataFrame with above calculations

ageDemoSummary_df = pd.DataFrame({"Purchase Count" : ageCount,
                                  "Average Purchase Price" : ageAvgPurchPrice,
                                  "Total Purch Price" : ageTotalPurchPrice,
                                  "Avg Total Purchase per Person" : ageAvgTotPurchPerPerson
}) 

# Format with currency style
ageDemoSummary_df["Average Purchase Price"] = ageDemoSummary_df["Average Purchase Price"].map("${:,.2f}".format)
ageDemoSummary_df["Total Purch Price"] = ageDemoSummary_df["Total Purch Price"].map("${:,.2f}".format)
ageDemoSummary_df["Avg Total Purchase per Person"] = ageDemoSummary_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

ageDemoSummary_df

,Purchase Count,Average Purchase Price,Total Purch Price,Avg Total Purchase per Person
Age Group,,,,
<10,17,$3.35,$77.13,$4.54
10-14,22,$2.96,$82.78,$3.76
15-19,107,$3.04,$412.89,$3.86
20-24,258,$3.05,"$1,114.06",$4.32
25-29,77,$2.90,$293.00,$3.81
30-34,52,$2.93,$214.00,$4.12
35-39,31,$3.60,$147.67,$4.76
40+,12,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
#Create groupby object 
topSpenders = purchase_data.groupby('SN')

#Find basic calculations
topPurchCount = topSpenders["SN"].count()
topAvgPurchPrice = topSpenders["Price"].mean()
topTotPurchPrice = topSpenders["Price"].sum()

#Create and format summary Data frome 
topSpendersSummary_df = pd.DataFrame({"Purchase Count" : topPurchCount,
                                  "Average Purchase Price" : topAvgPurchPrice,
                                  "Total Purch Price" : topTotPurchPrice,
}) 
#Sort DataFrame
topSpendersSummary_df = topSpendersSummary_df.sort_values(by = 'Total Purch Price', ascending=False)
# Format with currency style
topSpendersSummary_df["Average Purchase Price"] = topSpendersSummary_df["Average Purchase Price"].map("${:,.2f}".format)
topSpendersSummary_df["Total Purch Price"] = topSpendersSummary_df["Total Purch Price"].map("${:,.2f}".format)
#Return top 5 
TopSpendersSummary_df = topSpendersSummary_df.head(5)
TopSpendersSummary_df

             Purchase Count Average Purchase Price Total Purch Price
SN
Lisosia93                 5                  $3.79            $18.96
Idastidru52               4                  $3.86            $15.45
Chamjask73                3                  $4.61            $13.83
Iral74                    4                  $3.40            $13.62
Iskadarya95               3                  $4.37            $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#Create groupby object 
PopItems = purchase_df.groupby(['Item ID', 'Item Name'])
#Find basic calculations
PopItemsCount = PopItems["Item ID"].count()
popItemPrice = PopItems["Price"].max()
popTotPurchValue = PopItems["Price"].sum()

#Create and summary Data from
PopItemsSummary_df = pd.DataFrame({"Purchase Count" : PopItemsCount,
                                  "Average Purchase Price" : popItemPrice,
                                  "Total Purchase Price" : popTotPurchValue,
}) 
# Format with currency style
PopItemsSummary_df["Average Purchase Price"] = PopItemsSummary_df["Average Purchase Price"].map("${:,.2f}".format)
PopItemsSummary_df["Total Purchase Price"] = PopItemsSummary_df["Total Purchase Price"].map("${:,.2f}".format)


#Sort DataFrame
PopItemsSummary_df = PopItemsSummary_df.sort_values(by = 'Purchase Count', ascending=False)
#Return top 5 
PopItemsSummary_df = PopItemsSummary_df
PopItemsSummary_df

,,Purchase Count,Average Purchase Price,Total Purchase Price
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.33,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
#Sort DataFrame
ProfitSummary_df = PopItemsSummary_df.sort_values(by = 'Total Purchase Price', ascending=False)
#Return top 5 
ProfitSummary_df = ProfitSummary_df.head(5)
ProfitSummary_df

,,Purchase Count,Average Purchase Price,Total Purchase Price
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36